.currectAnswer {
  background: #1cbb86;
  color: white;
}
.wrongAnswer {
  background: #ff0032;
  color: white;
}

.disable {
  pointer-events: none;
}
.answerItem {
  user-select: none;
  padding: 10px;
  border: 1px solid teal;
  margin: 5px 0px;
  border-radius: 10px;
}

.btns {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
